body {
  margin: 0;
}

@media only screen and (min-width: 481px) {
  .grilla {
    grid-template-rows: 150px auto auto;
    grid-template-columns: 6rem auto;
    grid-template-areas:
      "nav header"
      "nav container"
      "nav foot";

    margin: 0px;
    padding-right: 1.5rem;
    display: grid;
    background-color: #126e88;
    span {
      display: none;
    }

    nav {
      grid-area: nav;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      background-color: #1a434e;
      position: fixed;
      height: 100vh;
      justify-content: space-around;
      align-items: center;

      .easterEgg {
        font-family: "Parisienne", cursive;
        transform: rotate(-90deg);
        color: #fce1cb;
      }
      .navBar {
        padding: 0%;
        margin-top: 60px;
        list-style-type: none;
        flex-direction: column;
        justify-content: space-around;
      }
      .navBar {
        .navItem {
          list-style-type: none;
          width: 48px;
          transition: 1s;
        }
        .navItem :hover {
          transition: scale 1.2;
        }
      }
      #cartButton {
        width: 64px;
      }
    }
    .contenedor {
      grid-area: container;
      display: grid;
      width: 100hw;
      height: 100%;

      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "one two three four"
        "five six seven eight";

      margin: 0px;
      padding: 0px;
      gap: 20px;

      .products {
        background-color: #1a434e;
        border-radius: 0 0 30px 30px;

        img {
          width: 100%;
          height: auto;
        }
        .one {
          grid-area: one;
        }
        .one {
          grid-area: two;
        }
        .one {
          grid-area: three;
        }
        .one {
          grid-area: four;
        }
        .one {
          grid-area: five;
        }
        .one {
          grid-area: six;
        }
        .one {
          grid-area: seven;
        }
        .one {
          grid-area: eight;
        }
      }
    }
  }
}
